* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
    min-height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center; 
    
}

.video-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1; /* Pushes the video layer behind your text */
  overflow: hidden;
  background: #000000; /* Fallback color if video fails to load */
}

.video-bg video {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}

.main {
    width: 576px;
    margin: 24px 112px 0px;
    padding: 0px 24px;
    min-height: 100vh;
    display: flex;           
    flex-direction: column;
    justify-content: flex-start; 
    align-items: center;        
    padding-bottom: 50px;       
    position: relative;
    color: #ffffff;
    z-index: 2; 
    /* border: solid white 1px;  */
}
/* <-----------------------NAVBAR-------------------------> */

.nav{
   width: 528px;
    height:32px;
    display: flex;
    color: azure;
    word-spacing: -6px; 
    margin-bottom: 70px;
    /* border: solid white 1px;  */
}
.name{
    width: 100%;
    margin-right: 130px;
    display: flex;
    align-items: center;    
}
.name a{
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    font-size: 24px;       
    font-weight: 700;      
    color: #FAFAFA;       
    text-decoration: none;
}

.nav ul{
    display: flex;
    list-style-type: none;
    
}
ul li {
    padding: 0px 12px 0px 0px; 
    display: flex;
    align-items: center;     
}
ul li a{
    font-size: 17.5px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #ffffff97;        
    text-decoration: none;  
    cursor: pointer;        
    transition: color 0.15s;
}
ul li a:hover{
    color: #ffffff;
}

/* <----------------------------------------------MAP-----------------------> */
.map {
    
    width: 100%;
    height: 192px;
    display: flex;          
    justify-content: center;
    align-items: center;
    /* border: solid white 1px; */
}
.map iframe {
    width:  530px;
    height: 200px;
    border-radius: 15px;
    border: none;
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1) 35%, rgba(0,0,0,0) 99.5%);     
}



/* <------------------------INTRO--------------------------------------> */
.info {
    height: 70px; 
    width: 100%;              
    color: #FAFAFA;
    display: flex;
    margin: 0px 0px 24px;
    /* border: solid white 1px; */
}
.profile{
    width: 70px;
    height: 70px;
    margin-right: 24px;
    display: flex;
    justify-content:center;
    align-items: center;
    margin-top: 5px;
    /* border: #FAFAFA solid 1px; */
    
}
.profile-circle{
    border: #555555 solid 3.7px;
    width: 70px;
    height: 70px;
    overflow: hidden;
    border-radius: 50%;
    display: flex;
    justify-content:center;
    align-items: center;
    padding: 6px;              
    box-sizing: border-box; 
}
img{
    width: 70px;
    height: 85px;
    margin-top: 30px;
    object-fit: cover;
}
.intro-box{
    height: 80px;
    margin-top: 10px;

}
.intro-box .hello{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 24px;
    margin-bottom: 5px;
}
.intro {
    height: 25px;
    width: 100%;
    overflow: hidden;
    display: flex;
    /* border: solid white 1px; */
    

}
.dot-box{
    height: 25px;
    width: 15px;
    /* border: solid white 1px; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.dot{
    background: rgb(0, 255, 0);
    border-radius: 50%;
    width: 8px;
    height: 8px;
}
.msg {
    /* 1. Stack the <p> tags into a strict vertical column layout */
    display: flex;
    flex-direction: column;
    

    text-decoration: underline dashed #333;
    text-underline-offset: 4px;

    cursor: pointer;
    transition: transform 1.43s ease; 
    margin-left: 3.5px;
    /* border: #FAFAFA solid 1px; */
}



.intro:hover .msg {
    /* 4. Slide up the entire container on hover */
   transform: translateY(-25px); /* Matches the exact height of the first line */
}
/* <-----------------------------------New Blocks-----------------------------> */
.desc {       
   padding: 0px 6px;
   
}
.desc p{
    width: 100%;        
    height: 72px; 
    letter-spacing: -0.1px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}